* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #121212;
}

.signup_card {
  width: 460px;
  border-radius: 8px;
  padding: 40px 60px;
  background-color: #202020;
}

.signup_card .logo img {
  width: 17%;
}
.signup_card .logo {
  text-align: center;
}
.signup_card .title {
  margin-top: 20px;

  font-weight: bold;
  text-align: center;
}

.title p {
  color: #fff;
  font-size: 14px;
}

.input-container .inputBox {
  display: flex;
  gap: 4%;
}

.input-container {
  margin-top: 20px;
}
.input-container input {
  width: 100%;
  font-weight: 500;
  height: 54px;
  background-color: #202020;
  outline: none;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 12px 0px;
  padding: 10px;
}

.remember {
  margin-top: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.remember .input {
  font-size: 14px;
  color: #f4f4f480;
}
.remember .input span {
  margin-left: 10px;
}
.terms span {
  text-decoration: underline;
  color: azure;
}
.remember .forgot {
  font-size: 14px;

  text-decoration: underline;
}

.continueBtn {
  margin-top: 30px;
}

.continueBtn button {
  width: 100%;
  height: 54px;
  background-color: #104a82;
  color: #f4f4f480;
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
}

.privacy {
  margin-top: 25px;
  text-decoration: underline;
  color: #fff;
  text-align: center;
}

.new {
  color: #f4f4f480;
  text-align: center;
}

.new .acc {
  font-size: 14px;
  margin-top: 20px;
}

.acc span {
  color: #fff;
  text-decoration: underline;
}

.p2 {
  font-size: 14px;
  margin-top: 10px;
}

.p2 a {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

#signup_error {
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: red;
  text-align: center;
}
