.Group-class-for-Main-div{
    width: 60%;
}
.group-div{
    width: 50%;
    margin-left:50%;
    height: 50%;
}
.div-for-all-divs-for-divv{
    width: 80%;
    height: 80%;
 
}
.class-for-img-lengends{
    width: 80%;
    height: 80%;
    margin-left: 4%;
}