
.follow-sec-icon {
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: #202020;
  width: 70%;
  margin: 0 auto 0 auto;
}
.follow-sec-icon div {
    margin: 0 2rem 0 2rem;
  
}
#spec-head{
    text-align: center;
}
#followUs{
    text-align: center;
}
.spec-compare{
    display: flex;
    justify-content: space-around;
}
.spec-inside{
    background-color: #202020;
    padding: 16px;
    border-radius: 5px;
    width: 1056px;
    margin: 0 auto 0 auto;
}