#slider_container {
  margin: 0px auto;
  height: 80vh;
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}
#slider_left {
  width: 70%;
  float: left;
  border-radius: 15px;
  overflow: hidden;
}
.slider_image {
  height: 80vh;
  width: 100%;
  border-radius: 15px;
  user-select: none;
  position: relative;
  z-index: 1;
}
.myswiper_content {
  height: inherit;
  width: 50%;
  position: absolute;
  top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );

  background: -moz-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  background: -webkit-gradient(
    linear,
    right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  background: -o-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  background: -ms-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
  background: linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);

  z-index: 3;
  color: white;
}
.myswiper_content_logo {
  height: 150px;
}
.myswiper_content_button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: white;
  margin-right: 8px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.wish {
  background-color: transparent;
  color: white;
}
.wish:hover {
  background-color: rgba(131, 131, 131, 0.4);
  color: white;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
#slider_right {
  height: 100%;
  width: 20%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.gyan_slider_card {
  height: 74px;
  width: 170px;
  border-radius: 15px;
  background-color: rgb(37, 37, 37);
  position: relative;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}
.gyan_slider_card:hover {
  background-color: #363636;
  transition: background-color 0.5s ease-in-out;
}
.gyan_slider_card_content {
  height: 50px;
  width: 150px;
  display: inline-block;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  top: -95px;
  z-index: 3;
  padding: 10px;
}
.gyan_slider_card_progress {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 10px;
  user-select: none;
}
.active_progress {
  animation: progressAnim 4s infinite;
}
@keyframes progressAnim {
  0% {
    width: 0%;
    background-color: rgba(75, 74, 74, 0.4);
  }
  100% {
    width: 100%;
    background-color: rgba(75, 74, 74, 0.4);
  }
}
.gyan_slider_card_image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.gyan_slider_card_image_box {
  width: 30%;
}
.gyan_slider_card_title_box {
  font-size: 12px;
  width: 70%;
  padding-left: 5%;
  color: white;
}
@media only screen and (max-width: 1205px) {
  .myswiper_content {
    width: 80%;
  }
}
@media only screen and (max-width: 754px) {
  .myswiper_content {
    width: 90%;
  }
}
@media only screen and (max-width: 650px) {
  #slider_right {
    display: none;
  }
  #slider_left {
    width: 100%;
  }
}
