.header_user_options {
  background-color: #494949;
  color: rgb(236, 235, 235);
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  position: fixed;
  right: 180px;
  top: 42px;
  z-index: 100;
  display: none;
  user-select: none;
}
.header_user_options > div {
  cursor: pointer;
}
.header_user_options:hover {
  background-color: #797878;
}
