.follow-sec-icon {
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: #202020;
  width: 70%;
  margin: 0 auto 0 auto;
}
.follow-sec-icon div {
  margin: 0 2rem 0 2rem;
}
.spec-detail-head {
  color: #959696;
}
#spec-head {
  color: white;
  text-align: center;
}
.os-dependency {
  padding: 10px;
  width: fit-content;
  text-align: left;
  border: none;
  margin-left: 50px;
  margin-bottom: 30px;
  font-size: 14px;
  color: white;
  border-bottom: 3px solid rgb(209, 209, 209);
}
#followUs {
  text-align: center;
}
.language {
  margin: 30px;
  color: rgba(187, 187, 187, 0.692);
}
.spec-compare {
  color: #e2e2e2;
  display: flex;
  justify-content: space-around;
}
.spec-inside {
  background-color: #202020;
  padding: 16px;
  border-radius: 5px;
  width: 1056px;
  margin: 0 auto 0 auto;
}
