body {
  background-color: #121212;
  padding-top: 4%;
}

#slider_container {
  margin: 0px auto;
  height: 80vh;
  width: 80vw;
}
#slider_left {
  width: 70%;
  float: left;
  border-radius: 15px;
  overflow: hidden;
}
.slider_image {
  height: 80vh;
  width: 100%;
  border-radius: 15px;
  user-select: none;
  position: relative;
  z-index: 1;
}
.myswiper_content {
  height: inherit;
  width: 50%;
  position: absolute;
  top: 0px;
  padding-left: 5%;
  padding-top: 10%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  z-index: 3;
  color: white;
}
.myswiper_content_logo {
  height: 150px;
}
.myswiper_content_button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: none;
  margin-right: 15px;
  background-color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.wish {
  background-color: transparent;
  color: white;
}
.wish:hover {
  background-color: rgba(131, 131, 131, 0.4);
  color: white;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
#slider_right {
  height: 100%;
  width: 20%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.card {
  height: 74px;
  width: 170px;
  border-radius: 15px;
  background-color: rgb(37, 37, 37);
  position: relative;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}
.card:hover {
  background-color: #363636;
  transition: background-color 0.5s ease-in-out;
}
.card_content {
  height: 50px;
  width: 150px;
  display: inline-block;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  top: -74px;
  z-index: 3;
  padding: 10px;
}
.card_progress {
  height: 55px;
  background-color: none;
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 10px;
  user-select: none;
}
.active_progress {
  animation: progressAnim 4s infinite;
}
@keyframes progressAnim {
  0% {
    width: 0%;
    background-color: rgba(75, 74, 74, 0.4);
  }
  100% {
    width: 100%;
    background-color: rgba(75, 74, 74, 0.4);
  }
}
.card_image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.card_image_box {
  width: 30%;
}
.card_title_box {
  font-size: 12px;
  width: 70%;
  padding-left: 5%;
  color: white;
}

@media only screen and (max-width: 650px) {
  #slider_right {
    display: none;
  }
  #slider_left {
    width: 100%;
  }
}
