body {
  background-color: #121212;
  padding-top: 4%;
}

#slider_container {
  margin: 0px auto;
  height: 80vh;
  width: 80vw;
}
#slider_left {
  width: 70%;
  float: left;
  border-radius: 15px;
  overflow: hidden;
}

.slider_image {
  height: 80vh;
  width: 100%;
  border-radius: 15px;
  user-select: none;
}

#slider_right {
  height: 100%;
  width: 20%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.card {
  height: 55px;
  padding: 5%;
  width: 70%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.card:hover {
  background-color: #363636;
  transition: background-color 0.5s ease-in-out;
}
.card_image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.card_image_box {
  width: 30%;
}
.card_title_box {
  width: 70%;
  padding-left: 5%;
  color: white;
}

@media only screen and (max-width: 650px) {
  #slider_right {
    display: none;
  }
  #slider_left {
    width: 100%;
  }
}
